
body, html {
  height: 100%;
  margin: 0;

  background-image: url("a.png");
  background-color: rgba(0,0,0,0.5);
  color : white;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color: #A498F1  ;
}

.hod {
  font-family: 'Pacifico', cursive;

}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
  opacity: 1;
  background-color: rgba(0,0,0,0.6);

}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
